@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(41, 88, 124);
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body.__variable_1e4310.__variable_c3aa02 {
  background-color: rgb(253, 253, 253);
}

.appointments,
.medication,
.details {
  color: rgb(41, 88, 124);
}

.main-container {
  flex-direction: row;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 25px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

button {
  border: 1px solid #ebebeb;
  background-color: transparent;
  padding: 14px;
  border-radius: 7px;
  transition: all, 0.3s;
}

button:hover {
  background-color: #ebebeb;
  border: 1px solid #ffffff;
}

input,
textarea {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}

label {
  display: block;
}

table {
  border-collapse: unset;
}

.hide-form-btn {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 12px;
}

.new-pet {
  padding: 50px 40px;
}

.remove-btn:hover {
  background-color: #ff4545;
  border: none;
}

.edit-btn:hover {
  background-color: rgb(255, 147, 0);
  border: none;
}

.create-item-button {
  border: none;
  background-color: rgb(255, 147, 0);
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 15px;
}

.create-item-button:hover {
  border: none;
  color: rgb(41, 88, 124);
}

.details {
  width: 62.5%;
  z-index: 99999;
  background-color: #ebebeb;
}

.details form button,
.submit-btn {
  background-color: rgb(255, 147, 0);
  color: #fff;
  border: none;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #ebebeb;
  color: rgb(41, 88, 124);
  border: none;
}

.details form button:hover {
  background-color: rgb(41, 88, 124);
}

.details button:not(form button) {
  width: 40px;
  height: 40px;
}

.details svg {
  width: 19px;
  height: 19px;
}

.species-img {
  width: 20px;
  height: 20px;
}

.event-time-wrap {
  grid-template-columns: 30px 1fr;
  margin-bottom: 20px;
}

.single-pet-btn {
  width: 43px;
  transition: all 0.3s ease-in-out;
}

.single-pet-btn:hover {
  overflow: auto;
}

.select-pet-msg {
  font-size: 18px;
}

.edit-btn,
.remove-btn {
  border: none;
}

.new-pet-title {
  font-size: 30px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.user-info {
  margin-top: 35px;
  padding: 10px 20px;
  border: 1px solid #e5e7eb;
  max-height: 230px;
  border-radius: 20px;
}

.logo {
  margin-top: -21px;
  margin-left: -26px;
}

.user-details {
  font-size: 15px;
}

.profile-icon:hover,
.logout-btn:hover {
  border: none;
  background-color: transparent;
}

.landing-page-img {
  width: 700px;
  border-radius: 20px;
  box-shadow: 1px 1px 18px #000;
  transition: all 0.3s ease-in-out;
}

.landing-page-img:hover {
  transform: scale(1.05);
}

.bottom-txt {
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.tab-button {
  border: none;
  font-size: 20px;
}

.tab-button:hover {
  background-color: #ebebeb;
  color: rgb(41, 88, 124);
  border: none;
}

.tab-button.active {
  background-color: #ebebeb;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: rgb(255, 147, 0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
