@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(41, 88, 124);
  background: rgb(255, 204, 112);
  font-family: Arial, Helvetica, sans-serif;
}

body.__variable_1e4310.__variable_c3aa02 {
  background-color: rgb(253, 253, 253);
}

.appointments,
.medication,
.details {
  background-color: rgb(255, 204, 112);
  border-radius: 40px;
  color: rgb(41, 88, 124);
}

#sidebar {
  background-color: transparent;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

button {
  border: 1px solid #ebebeb;
  background-color: transparent;
  padding: 10px;
  border-radius: 7px;
  transition: all, 0.3s;
}

button:hover {
  background-color: #ebebeb;
  border: 1px solid #ffffff;
}

input,
textarea {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}

label {
  display: block;
}

.hide-form-btn {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 12px;
}

.new-pet {
  background-color: #ffffff;
  padding: 50px 40px;
  border-radius: 40px;
}

.remove-btn:hover {
  background-color: #ff4545;
}

.edit-btn:hover {
  background-color: #80c4e9;
}

.create-item-button {
  margin-top: 20px;
}

.details {
  position: fixed;
  z-index: 9999;
  width: 62.5%;
}

.details div:first-child {
  display: inline-flex;
}

.details div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 100px;
}

.species-img {
  width: 20px;
  height: 20px;
}

.event-time-wrap {
  display: grid;
  align-items: start;
  grid-template-columns: 30px 1fr;
  margin-bottom: 20px;
}

.single-pet-btn {
  width: 43px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.single-pet-btn:hover {
  width: auto;
  overflow: auto;
}
