@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

body.__variable_1e4310.__variable_c3aa02 {
  background-color: #ebebeb;
}

.appointments,
.medication,
.details {
  background-color: #ffffff;
  border-radius: 40px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

button {
  border: 1px solid #ebebeb;
  background-color: transparent;
  padding: 10px;
  border-radius: 7px;
  transition: all, 0.3s;
}

button:hover {
  background-color: #ebebeb;
  border: 1px solid #ffffff;
}

input,
textarea {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}

label {
  display: block;
}

.hide-form-btn {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 12px;
}

.single-pet {
  border: 1px solid transparent;
  transition: all, 0.3s;
}

.single-pet:hover {
  border: 1px solid;
  border-radius: 3px;
}

.new-pet {
  background-color: #ffffff;
  padding: 50px 40px;
  border-radius: 40px;
}
