@media only screen and (max-width: 1500px) {
  .landing-page-img {
    width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    gap: 30px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    overflow: unset;
    position: relative;
  }

  .table-container {
    width: 100%;
    overflow-x: scroll;
  }

  .table-container table {
    border-spacing: 30px 0;
  }

  .dashboard-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0;
    padding: 0 20px;
  }

  .dashboard-container div:first-child,
  .dashboard-container div:last-child:not(.sidebar-container div:last-child) {
    width: 100%;
  }

  #sidebar {
    height: 300px;
    display: unset;
    padding: 0;
  }

  .sidebar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
  }

  .sidebar-container h2 {
    display: none;
  }

  .sidebar-container div,
  .sidebar-container button {
    margin: 0;
  }

  .bottom-txt {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .landing-page-img {
    width: 70%;
  }

  .landing-text {
    font-size: 17px;
    line-height: 19px;
  }
}
